* {
  margin: 0px;
  padding: 0px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
#nav-logo {
  width: 15%;
  display: inline;
}
.container-nav {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: white;
  color: black;
  justify-content: space-around;
}
.inner-container-nav {
  margin-left: 100px;
  display: flex;
  justify-content: space-between;
}
.inner-container-nav > select {
  border-top: none;
  border-bottom: none;
  border-left: none;
  outline: none;
  border-right: 1px solid black;
}
.inner-container-nav > button {
  width: 120px;
  height: 40px;
  background-color: #7540ee;
  cursor: pointer;
  border-radius: 20px;
  margin-top: 10px;
  border: none;
  font-size: 15px;
  color: white;
}
.nav-txt {
  margin: 20px;
  text-decoration: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.main {
  background-image: url(./assets/heroBackground.jpg);
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#div1 {
  width: 40%;
  color: white;
  height: 500px;
  padding-top: 100px;
}
#div1 > h1 {
  font-size: 3rem;
  margin-top: 10px;
  margin-bottom: 10px;
}
#div1 > p {
  color: #d3d3d3;
  font-size: 18px;
}
#div1 > button {
  margin-top: 40px;
  width: 150px;
  height: 40px;
  color: white;
  font-size: 20px;
  background-color: orange;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-size: 20px;
}
#div2 {
  width: 25%;
  height: auto;
}
#div2 > img {
  width: 100%;
  border-radius: 10px;
}

.sponsors {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 150px;
  align-items: center;
}
.sponsors > p {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 30px;
  color: #a899a6;
}
.sponsor-logos {
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: center;
  height: 120px;
  gap: 100px;
}
.sponsor-logos img {
  width: 120px;
  cursor: pointer;
  filter: grayscale(100%);
}
.sponsor-logos img:hover {
  filter: grayscale(0%);
}

.live-demos {
  width: 100%;
  height: 200px;
  margin: 100px 0px 50px 0px;
  background-color: #f5f7fd;
  display: flex;
  justify-content: center;
  align-items: center;
}
.demo {
  background-color: #fffaf1;
  width: 80%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid orange;
  border-radius: 15px;
}
.demo > p {
  padding: 20px;
}
.demo > button {
  margin-right: 20px;
  width: 120px;
  height: 40px;
  border-radius: 20px;
  background-color: white;
  color: orange;
  border: 2px solid orange;
  cursor: pointer;
}
.demo > button:hover {
  background-color: orange;
  color: white;
}
.key-features {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.key-features p {
  text-align: center;
  color: #a899a6;
}
.key-features h2 {
  text-align: center;
  font-size: 3rem;
}
.features {
  width: 90%;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  margin-bottom: 20px;
}
.features div {
  width: 20%;
  display: flex;
  height: 275px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: 15px;
  cursor: pointer;
}
.features div:hover {
  border-radius: 30px;
  background-color: white;
  box-shadow: 0px 0px 20px -3px rgba(0, 0, 0, 0.3);
}
.features div img {
  width: 50%;
}
.features div h3 {
  margin: 10px 0px 20px 0px;
  text-align: center;
}
.vote-img {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.vote-img img {
  width: 60%;
}
.numbers {
  width: 100%;
  height: 250px;
  background-color: #7540ee;
  display: flex;
  align-items: center;
  justify-content: center;
}
.numbers2 {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 150px;
  color: white;
}
.numbers2 h3 {
  font-size: 2.5rem;
  margin-bottom: 15px;
}
.numbers2 p {
  text-align: center;
}
.outer-section {
  width: 100%;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-txt {
  margin: 50px 0px 20px 50px;
  text-align: center;
}
.section-txt p {
  color: #a899a6;
  margin-bottom: 20px;
}
.section-txt h3 {
  font-size: 2.5rem;
  margin-bottom: 50px;
}

#orange-circle {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: #ffab00;
  text-align: center;
  color: white;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#blue-circle {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: #5b7fff;
  text-align: center;
  color: white;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#green-circle {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: #36b37e;
  text-align: center;
  color: white;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-section {
  width: 80%;
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
}
.inner-section div {
  width: 25%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  padding: 10px;
}
.inner-section div h4 {
  margin-top: 20px;
  text-align: center;
  padding: 5px;
}
.inner-section div p {
  color: #a899a6;
  text-align: center;
  margin: 20px 0px 20px 0px;
  padding: 5px;
}

.inner-section div:hover {
  border-radius: 40px;
  box-shadow: 0px 0px 20px -10px rgba(0, 0, 0, 0.6);
  cursor: pointer;
}
.bootstap {
  width: 100%;
  height: 50vh;
  background-color: #7540ee;
}
.ranked-choice {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;
}
.ranked-div0 {
  font-size: 17px;
}
.ranked-div0 h4 {
  font-size: 2.5rem;
  text-align: center;
  margin: 10px 0px 10px 0px;
}
.ranked-div0 p {
  color: #a899a6;
  text-align: center;
  margin: 20px 0px 10px 0px;
}
.ranked-inner {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 50px;
}
.ranked-div1 {
  width: 40%;
  height: 500px;
  font-size: 18px;
  padding: 20px;
  margin-top: 200px;
}
.ranked-div2 {
  width: 40%;
  height: 500px;
}
.ranked-div2 img {
  width: 100%;
}
.pole-vote {
  width: 100%;
  height: 300px;
  background-color: #7540ee;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.inner-pole-vote {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.inner-pole-vote div button {
  margin-top: 60px;
  width: 170px;
  height: 50px;
  color: white;
  font-size: 20px;
  background-color: black;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-size: 20px;
}
.inner-pole-vote div p {
  color: white;
  font-size: 18px;
  margin-bottom: 10px;
}
.inner-pole-vote div h3 {
  font-size: 2.5rem;
  color: white;
}
.footer {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: space-around;
}
.footer-title {
  width: 20%;
  height: 100px;
}
.footer-title img {
  width: 70%;
}
.footer-title p {
  font-size: 18px;
  margin-top: 10px;
}
.footer-title p a {
  text-decoration: none;
  font-weight: 500;
  color: blue;
}
.footer-section {
  width: 40%;
  height: 250px;
  display: flex;
  justify-content: space-between;
  font-size: 17px;
}
.footer-section div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.footer-section div h3 {
  size: 2rem;
}
.footer-section a {
  text-decoration: none;
  color: #a899a6;
}
@media screen and (max-width: 900px) {
  #nav-logo {
    margin-left: 10px;
    height: 30px;
    width: auto;
  }
  .inner-container-nav {
    margin-left: 0px;
    display: none;
  }

  #div1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }
  #div1 > h1 {
    font-size: 2.5rem;

    text-align: center;
  }
  #div1 > p {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
  }
  #div1 > button {
    font-size: 16px;
    font-weight: 600;
  }
  #div2 {
    display: none;
  }

  .sponsors {
    height: 100%;
  }
  .sponsors > p {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
    color: #a899a6;
  }
  .sponsor-logos {
    flex-wrap: wrap;
    height: auto;
    row-gap: 30px;
  }
  .sponsor-logos img {
    width: 120px;
    cursor: pointer;
    filter: grayscale(100%);
  }
  .sponsor-logos img:hover {
    filter: grayscale(0%);
  }

  .live-demos {
    height: 100%;
  }
  .demo {
    margin: 40px 0;
    flex-direction: column;
    height: auto;
  }
  .demo > p {
    padding: 16px;
    text-align: center;
  }
  .demo > button {
    margin-right: 0px;
    margin-bottom: 10px;
    font-weight: bold;
  }
  .key-features {
    height: auto;
  }
  .key-features p {
    text-align: center;
    color: #a899a6;
  }
  .key-features h2 {
    text-align: center;
    font-size: 2rem;
  }
  .features {
    width: 100%;
    height: auto;
  }
  .features div {
    width: 33%;
  }

  .features div h3 {
    text-align: center;
  }
  .vote-img {
    height: auto;
  }
  .vote-img img {
    width: 80%;
    height: auto;
  }
  .numbers {
    width: 100%;
    min-height: 80vh;
  }
  .numbers2 {
    flex-direction: column;
    height: auto;
  }
  .numbers2 h3 {
    font-size: 3rem;
    margin-bottom: 0px;
    text-align: center;
  }
  .numbers2 p {
    text-align: center;
    margin-bottom: 10px;
  }

  .outer-section {
    height: auto;
  }

  .section-txt h3 {
    font-size: 2.25rem;
    margin-bottom: 10px;
  }
  .inner-section {
    width: 80%;
    height: auto;
    flex-direction: column;
  }

  .inner-section div {
    width: 95%;
  }
  .inner-section div p {
    margin: 10px;
  }

  .ranked-inner {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .ranked-div1 {
    width: 80%;
    height: auto;
    font-size: 18px;
    padding: 20px;
    margin: 10px 0px 0px 10px;
  }
  .ranked-div2 {
    width: 80%;
    height: auto;
  }
  .pole-vote {
    height: 200px;
    margin-bottom: 20px;
  }
  .inner-pole-vote {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .inner-pole-vote div button {
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
  }
  .inner-pole-vote div p {
    font-size: 16px;
    text-align: center;
  }
  .footer {
    width: 100%;
    height: auto;
    flex-direction: column;
  }
  .footer-title {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  .footer-title img {
    width: 20%;
  }
  .footer-title p {
    font-size: 18px;
    margin-top: 10px;
    text-align: center;
  }
  .footer-section {
    width: 100%;
    height: auto;
    flex-direction: column;
    gap: 20px;
  }
  .footer-section div {
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer-section div h3 {
    size: 2rem;
  }
}
